Repository navbytes/RequestKit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  run: npm run lint -- --cache --fix {staged_files}
  stage_fixed: true
  fail_text: ESLint found issues. Please fix them before committing.

prettier:
  run: npm run format:check -- {staged_files}
  fail_text: Code formatting issues found. Run 'npm run format' to fix.

typescript:
  run: npm run type-check
  fail_text: TypeScript compilation errors found. Please fix type issues.

refactor: migrate from deprecated VariableStorageUtils to modular system
  src/__tests__/variable-integration-test.ts
  src/background/handlers/profile-handler.ts
  src/background/handlers/variable-handler.ts
  src/background/service-worker.ts
  src/background/services/rule-processor.ts
  src/background/utils/initialization.ts
  src/lib/core/index.ts
  src/lib/core/storage.ts
  src/lib/core/variable-storage.ts
  src/lib/core/variable-storage/management/usageTracking.ts
  src/options/components/tabs/GeneralSettings/utils/resetExtensionData.ts
  src/options/components/tabs/VariableManager/hooks/useVariableData.ts
  src/options/components/tabs/VariableManager/hooks/useVariableOperations.ts
  src/shared/hooks/useVariables.ts
Due: eslint, prettier, typescript

fix: replace any types with proper TypeScript interfaces in usageTracking
  src/lib/core/variable-storage/management/usageTracking.ts
Due: eslint, prettier, typescript

refactor: remove deprecated updateVariableUsageCounts function
  .eslintrc.cjs
  package-lock.json
  package.json
  src/background/service-worker.ts
  src/devtools/hooks/useFilterPresets.ts
  src/lib/core/storage.ts
  src/lib/core/variable-storage/management/usageTracking.ts
  src/lib/integrations/performance-monitor.ts
  src/shared/utils/validation.ts
Due: eslint, prettier, typescript

fix: resolve critical ESLint errors
  .eslintrc.cjs
  src/devtools/components/filtering/TimeRangeSelector.tsx
  src/shared/utils/i18n/language-detector.ts
Due: eslint, prettier, typescript

fix: resolve additional ESLint warnings
  src/background/service-worker.ts
  src/background/services/chrome-rules-converter.ts
  src/devtools/components/filtering/AdvancedFilterPanel.tsx
  src/devtools/components/filtering/FilterPresets.tsx
  src/lib/core/pattern-matcher/matchers/DomainMatcher.ts
  src/shared/components/VariableForm.tsx
Due: eslint, prettier, typescript

fix: resolve more ESLint warnings
  src/background/handlers/variable-handler.ts
  src/background/services/context-menu-manager.ts
  src/content/content-standalone.ts
  src/devtools/components/NetworkRequestItem.tsx
  src/devtools/hooks/useExtensionStatus.ts
  src/devtools/rule-matcher.ts
  src/devtools/services/FilterService.ts
  src/lib/api/rule-testing-framework.ts
  src/lib/core/pattern-matcher/utils/patternValidation.ts
  src/lib/core/variable-storage/index.ts
  src/lib/core/variable-storage/management/initialization.ts
  src/lib/core/variable-storage/management/usageTracking.ts
  src/lib/core/variable-storage/operations/bulkOperations.ts
  src/lib/core/variable-storage/utils/validationHelpers.ts
  src/lib/data/rule-templates/categories/advancedTemplates.ts
  src/lib/data/rule-templates/categories/apiTemplates.ts
  src/lib/data/rule-templates/categories/authTemplates.ts
  src/lib/data/rule-templates/categories/debugTemplates.ts
  src/lib/data/rule-templates/categories/securityTemplates.ts
  src/lib/data/rule-templates/operations/templateValidation.ts
  src/lib/data/rule-templates/utils/templateUtils.ts
  src/lib/engines/file-interception-engine.ts
  src/lib/integrations/devtools-integration.ts
  src/options/components/OptionsApp.tsx
  src/options/components/tabs/ConditionalRuleBuilder/index.tsx
  src/options/components/tabs/ProfileManager/index.tsx
  src/options/components/tabs/RuleManagement/index.tsx
  src/options/components/tabs/RuleTestingFramework/SingleRuleTestTab.tsx
  src/shared/components/VariableForm.tsx
Due: eslint, prettier, typescript

refactor: delete unused file
  .eslintcache
  .lefthook.yml
  lefthook.yml
  scripts/validate-messages.js
Due: eslint, prettier

refactor: remove duplicate locale
  .eslintcache
  .gitignore
  _locales/en/messages.json
  _locales/hi/messages.json
  src/__tests__/i18n/localization.test.ts
  src/config/localized-constants.ts
  src/devtools/components/DevToolsHeader.tsx
  src/devtools/components/NetworkRequestItem.tsx
  src/devtools/components/ProfileSelector.tsx
  src/devtools/components/RequestDetails.tsx
  src/devtools/components/ResolutionStepCard.tsx
  src/options/components/OptionsApp.tsx
  src/options/components/TabNavigation.tsx
  src/options/components/tabs/GeneralSettings/index.tsx
  src/options/components/tabs/RuleManagement/components/EmptyState.tsx
  src/options/components/tabs/RuleManagement/index.tsx
  src/options/components/tabs/TemplateManager/index.tsx
  src/options/components/tabs/VariableManager/index.tsx
  src/popup/components/AdvancedRuleBuilder/BasicRuleInfo.tsx
  src/popup/components/AdvancedRuleBuilder/HeadersSection.tsx
  src/popup/components/AdvancedRuleBuilder/index.tsx
  src/popup/components/QuickRuleCreator/QuickRuleForm.tsx
  src/popup/components/QuickRuleCreator/index.tsx
  src/popup/components/RulesList/RulesListHeader.tsx
  src/popup/components/RulesList/index.tsx
  src/popup/components/TemplateBrowser/TemplateBrowserFooter.tsx
  src/popup/components/TemplateBrowser/TemplatesList.tsx
  src/shared/components/VariableList/VariableDetailsSection.tsx
  src/shared/components/VariableList/VariableList.tsx
  src/shared/components/VariableList/VariableMetadataSection.tsx
  src/shared/components/VariableList/VariableRow.tsx
  src/shared/components/rules/RuleItem.tsx
  src/shared/components/templates/TemplateCard.tsx
Due: eslint, prettier, typescript

refactor: remove duplicate locale (#7)
  .eslintcache
  .gitignore
  _locales/en/messages.json
  _locales/hi/messages.json
  src/__tests__/i18n/localization.test.ts
  src/config/localized-constants.ts
  src/devtools/components/DevToolsHeader.tsx
  src/devtools/components/NetworkRequestItem.tsx
  src/devtools/components/ProfileSelector.tsx
  src/devtools/components/RequestDetails.tsx
  src/devtools/components/ResolutionStepCard.tsx
  src/options/components/OptionsApp.tsx
  src/options/components/TabNavigation.tsx
  src/options/components/tabs/GeneralSettings/index.tsx
  src/options/components/tabs/RuleManagement/components/EmptyState.tsx
  src/options/components/tabs/RuleManagement/index.tsx
  src/options/components/tabs/TemplateManager/index.tsx
  src/options/components/tabs/VariableManager/index.tsx
  src/popup/components/AdvancedRuleBuilder/BasicRuleInfo.tsx
  src/popup/components/AdvancedRuleBuilder/HeadersSection.tsx
  src/popup/components/AdvancedRuleBuilder/index.tsx
  src/popup/components/QuickRuleCreator/QuickRuleForm.tsx
  src/popup/components/QuickRuleCreator/index.tsx
  src/popup/components/RulesList/RulesListHeader.tsx
  src/popup/components/RulesList/index.tsx
  src/popup/components/TemplateBrowser/TemplateBrowserFooter.tsx
  src/popup/components/TemplateBrowser/TemplatesList.tsx
  src/shared/components/VariableList/VariableDetailsSection.tsx
  src/shared/components/VariableList/VariableList.tsx
  src/shared/components/VariableList/VariableMetadataSection.tsx
  src/shared/components/VariableList/VariableRow.tsx
  src/shared/components/rules/RuleItem.tsx
  src/shared/components/templates/TemplateCard.tsx
Due: eslint, prettier, typescript

feat: add comprehensive network tooling features
  manifest.json
  src/background/services/chrome-rules-converter.ts
  src/background/types/service-worker.ts
  src/config/constants.ts
  src/devtools/components/DevToolsHeader.tsx
  src/devtools/components/DevToolsPanel.tsx
  src/devtools/components/RequestDetails.tsx
  src/devtools/types/filtering.ts
  src/lib/utils/code-generators.ts
  src/lib/utils/graphql-parser.ts
  src/lib/utils/har-export.ts
  src/lib/utils/index.ts
  src/lib/utils/request-replay.ts
  src/popup/components/PopupApp/index.tsx
  src/shared/components/CopyButton.tsx
  src/shared/components/Icon.tsx
  src/shared/components/KeyboardShortcutsHelp.tsx
  src/shared/components/OnboardingFlow.tsx
  src/shared/components/StatusBadge.tsx
  src/shared/components/SyntaxHighlighter.tsx
  src/shared/components/index.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useKeyboardShortcuts.ts
  src/shared/types/index.ts
  src/shared/types/rules.ts
  src/shared/types/templates.ts
  src/sidepanel/components/SidePanelApp.tsx
  src/sidepanel/index.html
  src/sidepanel/main.tsx
Due: eslint, prettier, typescript

chore: add missing @rollup/rollup-linux-x64-gnu dependency
  package-lock.json
  package.json
Due: prettier

docs: add adoption roadmap with competitive analysis
  ROADMAP.md
Due: prettier

feat: remove vestigial content script and unused activeTab permission
  ROADMAP.md
  manifest.json
  package.json
  src/background/handlers/profile-handler.ts
  src/content/content-standalone.ts
  src/content/content.ts
  src/content/index.ts
  src/content/injected-script.ts
  src/manifest.json
  src/rules.json
  vite.config.ts
Due: eslint, prettier, typescript

refactor: delete unused file-interception engine and devtools demo scripts
  ROADMAP.md
  src/devtools/demo-advanced-filtering.ts
  src/devtools/demo-variable-resolution.ts
  src/lib/engines/file-interception-engine.ts
  src/lib/engines/index.ts
Due: eslint, prettier, typescript

docs: reposition readme around trust contract and competitor comparison
  README.md
  ROADMAP.md
Due: prettier

fix: resolve npm audit vulnerabilities and remove unused vite-plugin-web-extension
  .eslintrc.cjs
  package-lock.json
  package.json
Due: prettier

feat: adoption roadmap phase 1 — trust & footprint (#8)
  .eslintrc.cjs
  README.md
  ROADMAP.md
  manifest.json
  package-lock.json
  package.json
  src/background/handlers/profile-handler.ts
  src/content/content-standalone.ts
  src/content/content.ts
  src/content/index.ts
  src/content/injected-script.ts
  src/devtools/demo-advanced-filtering.ts
  src/devtools/demo-variable-resolution.ts
  src/lib/engines/file-interception-engine.ts
  src/lib/engines/index.ts
  src/manifest.json
  src/rules.json
  vite.config.ts
Due: eslint, prettier, typescript

feat: focus popup empty state on a single primary action
  ROADMAP.md
  _locales/en/messages.json
  _locales/hi/messages.json
  src/popup/components/PopupApp/PopupContent.tsx
Due: eslint, prettier, typescript

feat: add common-header presets to quick rule creator
  ROADMAP.md
  _locales/en/messages.json
  _locales/hi/messages.json
  src/popup/components/QuickRuleCreator/QuickRuleForm.tsx
Due: eslint, prettier, typescript

feat: make rule name optional with auto-generated fallback in quick rule creator
  ROADMAP.md
  _locales/en/messages.json
  _locales/hi/messages.json
  src/popup/components/QuickRuleCreator/QuickRuleForm.tsx
  src/popup/components/QuickRuleCreator/hooks/useQuickRuleCreator.ts
Due: eslint, prettier, typescript

docs: mark phase 2 complete in roadmap
  ROADMAP.md
Due: prettier

feat: adoption roadmap phase 2 — first-run & popup ux (#9)
  ROADMAP.md
  _locales/en/messages.json
  _locales/hi/messages.json
  src/popup/components/PopupApp/PopupContent.tsx
  src/popup/components/QuickRuleCreator/QuickRuleForm.tsx
  src/popup/components/QuickRuleCreator/hooks/useQuickRuleCreator.ts
Due: eslint, prettier, typescript

feat: auto-detect and convert modheader exports on import
  ROADMAP.md
  src/__tests__/modheader-import.test.ts
  src/lib/integrations/modheader-importer.ts
  src/options/components/EnhancedImportExport/ImportSection.tsx
  src/options/components/EnhancedImportExport/hooks/useImportExportOperations.ts
Due: eslint, prettier, typescript

docs: add switching-from-modheader migration guide
  README.md
  ROADMAP.md
  docs/switching-from-modheader.md
Due: prettier

docs: mark phase 3 complete in roadmap
  ROADMAP.md
Due: prettier

feat: adoption roadmap phase 3 — modheader migration magnet (#10)
  README.md
  ROADMAP.md
  docs/switching-from-modheader.md
  src/__tests__/modheader-import.test.ts
  src/lib/integrations/modheader-importer.ts
  src/options/components/EnhancedImportExport/ImportSection.tsx
  src/options/components/EnhancedImportExport/hooks/useImportExportOperations.ts
Due: eslint, prettier, typescript

feat: collapse diagnostic tabs behind advanced section in options nav
  ROADMAP.md
  src/options/components/TabNavigation.tsx
Due: eslint, prettier, typescript

feat: state local-only analytics explicitly in options ui
  ROADMAP.md
  _locales/en/messages.json
  _locales/hi/messages.json
  src/options/components/tabs/AnalyticsMonitoring/index.tsx
Due: eslint, prettier, typescript

docs: mark phase 4 complete in roadmap
  ROADMAP.md
Due: prettier

feat: adoption roadmap phase 4 — focus the options surface (#11)
  ROADMAP.md
  _locales/en/messages.json
  _locales/hi/messages.json
  src/options/components/TabNavigation.tsx
  src/options/components/tabs/AnalyticsMonitoring/index.tsx
Due: eslint, prettier, typescript

fix: use pattern matcher for per-tab badge rule counting
  ROADMAP.md
  src/__tests__/badge-manager.test.ts
  src/background/services/badge-manager.ts
Due: eslint, prettier, typescript

docs: add chrome web store listing kit
  ROADMAP.md
  docs/store-listing.md
Due: prettier

docs: mark phase 5 complete in roadmap
  ROADMAP.md
Due: prettier

feat: adoption roadmap phase 5 — reliability visible & launch kit (#12)
  ROADMAP.md
  docs/store-listing.md
  src/__tests__/badge-manager.test.ts
  src/background/services/badge-manager.ts
Due: eslint, prettier, typescript

refactor: remove conditional rules tab whose conditions production ignored
  ROADMAP.md
  src/options/components/OptionsApp.tsx
  src/options/components/TabNavigation.tsx
  src/options/components/tabs/ConditionalRuleBuilder.tsx
  src/options/components/tabs/ConditionalRuleBuilder/ConditionalRuleForm.tsx
  src/options/components/tabs/ConditionalRuleBuilder/ConditionalRulesList.tsx
  src/options/components/tabs/ConditionalRuleBuilder/index.tsx
Due: eslint, prettier, typescript

refactor: delete dead body-modification component and engine stub
  ROADMAP.md
  src/lib/engines/body-modification-engine.ts
  src/options/components/tabs/BodyModificationManager.tsx
Due: eslint, prettier, typescript

fix: drop coming-soon placeholder sub-tabs from analytics view
  ROADMAP.md
  src/options/components/tabs/AnalyticsMonitoring/components/TabNavigation.tsx
  src/options/components/tabs/AnalyticsMonitoring/index.tsx
Due: eslint, prettier, typescript

docs: mark phase 6 complete in roadmap
  ROADMAP.md
Due: prettier

refactor: adoption roadmap phase 6 — cut the fake and the dead (#13)
  ROADMAP.md
  src/lib/engines/body-modification-engine.ts
  src/options/components/OptionsApp.tsx
  src/options/components/TabNavigation.tsx
  src/options/components/tabs/AnalyticsMonitoring/components/TabNavigation.tsx
  src/options/components/tabs/AnalyticsMonitoring/index.tsx
  src/options/components/tabs/BodyModificationManager.tsx
  src/options/components/tabs/ConditionalRuleBuilder.tsx
  src/options/components/tabs/ConditionalRuleBuilder/ConditionalRuleForm.tsx
  src/options/components/tabs/ConditionalRuleBuilder/ConditionalRulesList.tsx
  src/options/components/tabs/ConditionalRuleBuilder/index.tsx
Due: eslint, prettier, typescript

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  typescript: any of: *.{ts,tsx}
